/* Generali */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #000000;
}

header {
    text-align: center;
    background-color:#bbff00;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #000000;
}

/* Galleria */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.image-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.image-card img {
    width: 100%;
    height: auto;
    display: block;
}

.caption {
    padding: 10px;
    font-size: 1em;
    color: #000000;
}

.caption:hover {
    color: #37ff00;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #bbff00;
    color: #000000;
    font-size: 0.9em;
}
